*.pyc
.idea
__pycache__/*
pytrade/__pycache__/*
dist
/build
/docs/build/doctrees/*
/docs/build/html/*
/docs/build/epub/*
!/docs/build/epub/*.epub
pytrade.egg-info
PyTrade.egg-info
Icon
/sql-aggregate.txt
/tests
.vscode
nosy.py
Icon

